@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --body-color: #e4e9f7;
   --sidebar-color: #fff;
   --primary-color: #695cfe;
   --primary-color-light: #f6f5ff;
   --toggle-color: #ddd;
   --text-color: #707070;

   --tran-02: all 0.2s ease;
   --tran-03: all 0.3s ease;
   --tran-04: all 0.4s ease;
   --tran-05: all 0.5s ease;
}

body {
   height: 100vh;
   background: var(--body-color);
   transition: var(--tran-05);
}

body.dark {
   --body-color: #18191a;
   --sidebar-color: #242526;
   --primary-color: #3a3b3c;
   --primary-color-light: #3a3b3c;
   --toggle-color: #fff;
   --text-color: #ccc;
}

.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 250px;
   padding: 10px 14px;
   background: var(--sidebar-color);
   transition: var(--tran-05);
   z-index: 100;
}

.sidebar.close {
   width: 88px;
}

.sidebar .text {
   font-size: 16px;
   font-weight: 500;
   color: var(--text-color);
   transition: var(--tran-03);
   white-space: nowrap;
   opacity: 1;
}

.sidebar.close .text {
   opacity: 0;
}

.sidebar .image {
   min-width: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.sidebar li {
   height: 50px;
   list-style: none;
   display: flex;
   align-items: center;
   margin-top: 10px;
}

.sidebar li .icon {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 60px;
   font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
   color: var(--text-color);
   transition: var(--tran-02);
}

.sidebar header {
   position: relative;
}

.sidebar .image-text img {
   width: 40px;
   border-radius: 6px;
}

.sidebar header .image-text {
   display: flex;
   align-items: center;
}

header .image-text .header-text {
   display: flex;
   flex-direction: column;
}

.header-text .name {
   font-weight: 600;
}

.header-text .profession {
   margin-top: -2px;
}

.sidebar header .toggle {
   position: absolute;
   top: 50%;
   right: -25px;
   transform: translateY(-50%) rotate(180deg);
   height: 25px;
   width: 25px;
   background-color: var(--primary-color);
   color: var(--sidebar-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   cursor: pointer;
   transition: var(--tran-03);
}

.sidebar.close header .toggle {
   transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
   color: var(--text-color);
}

.sidebar .menu {
   margin-top: 40px;
}

.sidebar .search-box {
   background: var(--primary-color-light);
   border-radius: 6px;
   transition: var(--tran-05);
}

.search-box input {
   height: 100%;
   width: 100%;
   outline: none;
   border: none;
   border-radius: 6px;
   font-size: 16px;
   font-weight: 500;
   background: var(--primary-color-light);
   transition: var(--tran-05);
   color: var(--text-color);
}

.sidebar li a {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   text-decoration: none;
   border-radius: 6px;
   transition: var(--tran-04);
}

.sidebar li a:hover {
   background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
   color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
   color: var(--text-color);
}

.sidebar .menu-bar {
   height: calc(100% - 50px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.menu-bar .mode {
   position: relative;
   border-radius: 6px;
   background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
   height: 50px;
   width: 60px;
   display: flex;
   align-items: center;
}

.menu-bar .mode i {
   position: absolute;
   transition: var(--tran-03);
}

.menu-bar .mode i.sun {
   opacity: 0;
}

body.dark .menu-bar .mode i.sun {
   opacity: 1;
}

body.dark .menu-bar .mode i.moon {
   opacity: 0;
}

.menu-bar .mode .toggle-switch {
   position: absolute;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   min-width: 60px;
   cursor: pointer;
   border-radius: 6px;
   background: var(--primary-color-light);
}

.toggle-switch .switch {
   position: relative;
   height: 22px;
   width: 44px;
   border-radius: 25px;
   background: var(--toggle-color);
}

.switch::before {
   content: "";
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   background: var(--sidebar-color);
   transition: var(--tran-03);
}

body.dark .switch::before {
   left: 24px;
}

.home {
   position: relative;
   height: 100vh;
   left: 250px;
   width: calc(100% - 250px);
   background: var(--body-color);
   transition: var(--tran-05);
   background-image: url(./img/gunkid.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   backdrop-filter: blur(10px);
}

.sidebar.close~.home {
   width: calc(100% - 88px);
   left: 88px;
}

.home .content-home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   height: 100%;
   font-size: 30px;
   font-weight: 500;
   color: var(--text-color);
   padding: 8px 40px;
   text-align: center;
}

.home .content-home .home-title {
   font-size: 30px;
   background: var(--primary-color-light);
   border-radius: 20px;
   padding: 0 20px;
}

.home .content-home .home-text {
   font-size: 20px;
   background: var(--primary-color-light);
   border-radius: 20px;
   padding: 0 20px;
}

button {
   display: flex;
   align-items: center;
   font-family: inherit;
   cursor: pointer;
   font-weight: 500;
   font-size: 17px;
   padding: 0.8em 1.3em 0.8em 0.9em;
   color: white;
   background: #ad5389;
   background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
   border: none;
   letter-spacing: 0.05em;
   border-radius: 16px;
}

button svg {
   margin-right: 3px;
   transform: rotate(30deg);
   transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
   transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
   transform: translateX(5px) rotate(90deg);
}

button:hover span {
   transform: translateX(7px);
}

.explore span a {
   text-decoration: none;
   color: #ccc;
}

.pantai {
   position: relative;
   height: 100vh;
   left: 250px;
   width: calc(100% - 250px);
   background: var(--body-color);
   transition: var(--tran-05);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   backdrop-filter: blur(10px);
}

.sidebar.close~.pantai {
   width: calc(100% - 88px);
   left: 88px;
}

.pantai .content-pantai {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
   height: 100%;
   font-size: 30px;
   font-weight: 500;
   color: var(--text-color);
   padding: 8px 40px;
   text-align: center;
}

.card {
   position: relative;
   width: 500px;
   height: 200px;
   background-color: #f2f2f2;
   background-image: url(./img/pok_tunggal.jpeg);
   background-position: center;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   perspective: 1000px;
   box-shadow: 0 0 0 5px #ffffff80;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
   width: 48px;
   fill: #333;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 20px;
   box-sizing: border-box;
   background-color: #f2f2f2;
   transform: rotateX(-90deg);
   transform-origin: bottom;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
   transform: rotateX(0deg);
}

.card__title {
   margin: 0;
   font-size: 24px;
   color: #333;
   font-weight: 700;
}

.card:hover svg {
   scale: 0;
}

.card__description {
   margin: 10px 0 0;
   font-size: 14px;
   color: #777;
   line-height: 1.4;
   text-align: justify;
}

.card .jogan {
   background-image: url(./img/jogan.jpeg);
}

.peta-lahan {
   position: relative;
   height: 100vh;
   left: 250px;
   width: calc(100% - 250px);
   background: var(--body-color);
   transition: var(--tran-05);
   background-image: url(./img/gunkid.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   backdrop-filter: blur(10px);
}

.sidebar.close~.peta-lahan {
   width: calc(100% - 88px);
   left: 88px;
}

.peta-lahan .content-peta-lahan {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   font-size: 30px;
   font-weight: 500;
   color: var(--text-color);
   padding: 8px 40px;
}

#map {
   width: 1005px;
   height: 636px;
}

@media screen and (max-width: 768px) {
   #map {
      width: 400px;
      height: 500px;
   }
}

.desc {
   position: relative;
   height: 100vh;
   left: 250px;
   width: calc(100% - 250px);
   background: var(--body-color);
   transition: var(--tran-05);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   backdrop-filter: blur(10px);
}

.sidebar.close~.desc {
   width: calc(100% - 88px);
   left: 88px;
}

.desc .content-desc {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   height: 100%;
   font-size: 30px;
   font-weight: 500;
   color: var(--text-color);
   padding: 8px 40px;
}

.desc .content-desc .desc-title {
   font-size: 24px;
   border-radius: 20px;
   padding: 0 20px;
   text-align: justify;
}

.desc .content-desc .desc-text {
   display: flex;
   justify-content: end;
   font-size: 20px;
   border-radius: 20px;
   padding: 0 20px;
}

.desc .content-desc .desc-text img {
   width: 80%;
}

@media screen and (max-width: 768px) {
   .desc .content-desc {
      flex-direction: column;
   }

   .desc .content-desc .desc-title {
      font-size: 20px;
      text-align: center;
   }

   .desc .content-desc .desc-title {
      font-size: 16px;
      border-radius: 20px;
      padding: 0 20px;
   }

   .desc .content-desc .desc-text img {
      width: 100%;
   }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   .desc .content-desc {
      flex-direction: column;
   }

   .desc .content-desc .desc-title {
      font-size: 24px;
      text-align: center;
   }

   .desc .content-desc .desc-title {
      font-size: 20px;
      border-radius: 20px;
      padding: 0 20px;
   }

   .desc .content-desc .desc-text img {
      width: 100%;
   }
}
